@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  color: #0c0c0d;
}
footer {
  color: #646369;
}

.wy-nav-content-wrap {
  background-color: #fafafa;
}
.wy-nav-content {
  background-color: #ffffff;
  max-width: 60rem;
  min-height: 100vh;
}
.wy-nav-side,
.wy-nav-top {
  background-color: #0c0c0d;
}

.wy-form input[type="text"] {
  border-radius: 0;
  border: none;
}

/** Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}
