name: Integration Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Setup Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.9
    - name: Install gretel-synthetics
      run: pip install -e .[all,test] --use-deprecated=legacy-resolver
    - name: Test
      run: pytest -s -vv --cov src --cov-report term-missing tests-integration/
      env:
        PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION: python
    - uses: 8398a7/action-slack@v2
      with:
        status: ${{ job.status }}
        author_name: Integration Tests
        only_mention_fail: here
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      if: always()
